@page
@model SightSeeing.WEB.Pages.Users.EditModel

<h2>Edit User</h2>

<form method="post">
    <input type="hidden" asp-for="User.Id" />
    <div class="form-group">
        <label asp-for="User.Name">Name</label>
        <input asp-for="User.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="User.Role">Role</label>
        <input asp-for="User.Role" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="User.Password">Password</label>
        <input asp-for="User.Password" class="form-control" type="password" />
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <a asp-page="Index" class="btn btn-secondary">Cancel</a>
</form>